@import "action-group.scss";
@import "canvas.scss";
@import "constraints.scss";
@import "cssvariables.scss";
@import "Help";
@import "sudoku.scss";

#react-app, body, html {
  height: 100vh;
}

body {
  background: var(--border);
  color: var(--text);
}

.navbar {
  background: var(--dark-bg);
  .fa {
    @apply text-3xl ml-4 inline-block;
  }
  .rjsf, .form-group:last-child {
    margin-bottom: 0;
  }
}
.app-content {
  background: var(--bg);
}

.Game {
  display: flex;
  flex-direction: column;
}

#react-app {
  max-width: 1200px;
}

.PuzzleAdminForm {
  @apply absolute bottom-0 left-0 p-4 bg--bg;
  .rjsf, .form-group {
    margin-bottom: 0;
  }
}

.hoverdown {
  @apply relative;
  .hoverdown--target {
    @apply absolute hidden overflow-hidden;
    @apply border p-4 pt-8 shadow-lg rounded bg--bg;
    max-width: 100vw;
    margin-top: -0.25rem;
    right: -1rem;
    top: 100%;
    white-space: pre;
    width: var(--hoverdown-width);
    .btn { border-radius: 0; }
  }
  &.tight .hoverdown--target {
    right: 0;
    margin-top: 0;
  }
  &.flush .hoverdown--target {
    padding: 0;
  }
  &.left .hoverdown--target {
    left: -1rem;;
    right: unset;
  }
  &:hover .hoverdown--target {
    display: block;
  }
  &.closed:hover .hoverdown--target {
    display: none;
  }
  &.sm {
    --hoverdown-width: 450px;
  }
  &.md {
    --hoverdown-width: 900px;
  }
  &.lg {
    --hoverdown-width: 1200px;
  }
  &.full .hoverdown--target {
    height: 60vh;
    width: 100vw;
  }
  iframe {
    min-height: 60vh;
    height: 100%;
    width: 100%;
  }
  .hoverdown--links {
    @apply text-gray-500 top-0 right-0 p-2 text-lg;
    position: absolute;
    a { @apply p-2 }
    .active { @apply text--text; }
  }
  &.fixed .hoverdown--target {
    max-height: 80vh;
    overflow-y: scroll;
    position: fixed;
    top: unset;
  }
  &.pinned .hoverdown--target {
    display: block;
    position: relative;
  }
}

.hoverdown .hoverdown--two-columns {
  column-count: 2;
  column-gap: 0;
}