@import "sudoku.scss";
@import "constraints.scss";

.hoverdown {
  @apply relative;
  z-index: 300;
  .hoverdown--target {
    background: white;
    @apply absolute left-0 min-w-full hidden shadow-lg rounded overflow-hidden;
    .btn { border-radius: 0; }
    top: 100%;
    white-space: pre;
    &.right-0 {
      left: unset;
    }
  }
  &:hover .hoverdown--target {
    display: block;
  }
}