.constraint {
  background-size: contain;
  display: inline-block;
  height: 1.5em;
  position: relative;
  vertical-align: middle;
  width: 1.5em;
}

.constraint-sudoku {
  background-image: url('../icons/sudoku.svg'),
}

.constraint-sandwich {
  background-image: url('../icons/sandwich.svg'),
}

.constraint-arrow_sudoku {
  background-image: url('../icons/arrow.svg'),
}

.constraint-killer {
  background: none;
  border: 3px dashed black;
}

.constraint-anti_knight {
  background-image: url('../icons/Chess_nlt45.svg'),
}

.constraint-anti_king {
  background-image: url('../icons/Chess_klt45.svg'),
}

.constraint-anti_queen {
  background-image: url('../icons/Chess_qlt45.svg'),
}

.other_constraint {
  @apply mx-2 inline-flex items-center justify-center;
  border: 2px solid;
  border-radius: 100%;
  height: 1.5em;
  width: 1.5em;
}

/* these constraints use font-awesome */
.constraint-thermo {
  font: normal normal normal 1.5em FontAwesome;
  height: 1em;
  width: unset;
}
.constraint-thermo:before {
  content: "\f2c7";
}