@use 'sass:map';
@use 'sass:color';

@import './var.scss';
@import './gutter.scss';
@import './z-index.scss';
@import './Controls.scss';
@import './cage.scss';
@import './mark.scss';

.Game {
  height: 100%;
  user-select: none;
  .game-area {
    width: 100%;
  }
}

.Game .play-area {
  @apply flex overflow-hidden h-full;
  @media (max-aspect-ratio: 1/1) {
    flex-direction: column;
  }
  .Controls {
    @apply items-center justify-center w-full;
  }
}

.flex-cell {
  @apply flex;
}

.board {
  position: relative;
  .sudoku, .clickMask {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .cell {
    height: 11.1111%;
    width: 11.1111%;
  }
  .sudoku {
    border: solid var(--text);
    border-width: 3px;
    .cell {
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .cell .number {
      align-items: center;
      display: flex;
      justify-content: center;

      border: var(--text) solid;
      border-width: 0 $border-cell $border-cell 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .cell {
      &.x-2, &.x-5 {
        .number {
          border-right-width: $border-box;
        }
      }
      &.y-2, &.y-5 {
        .number {
          border-bottom-width: $border-box;
        }
      }
      &.x-8 {
        .number {
          border-right-width: 0;
        }
      }
      &.y-8 {
        .number {
          border-bottom-width: 0;
        }
      }
      &.selected-1:before,
      &.selected--1:before,
      &.selected--9:after,
      &.selected-9:after {
        box-sizing: content-box;
        content: "";
        left: 0;
        margin: - $sel;
        position: absolute;
        top:0;
        border: $sel solid transparent;
        width: 100%;
        height: 100%;
      }
      &.selected-1:before {
        border-right: $selected;
      }
      &.selected--1:before {
        border-left: $selected;
      }
      &.selected--9:after {
        border-top: $selected;
      }
      &.selected-9:after {
        border-bottom: $selected;
      }
    }
  }
}

.board .cell .cursor {
    display: block;
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 90%;
    border-bottom: var(--text) 3px solid;
}

.board .cell {
  position: relative;
  &.selected {
    border-color: $mark;
    .number {
      background-color: var(--selected);
    }
  }
  .corner {
    @apply top-0 left-0 absolute;
    line-height: 1;
  }
  .colour {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.5;
  }
  @for $i from 0 through 9 {
    .colour-#{$i} {
      background: map.get($pallet, $i);
    }
  }
}

.board .cell {
  &.answer,
  .corner, .centre {
    @apply text-blue-700;
  }
  &.colour-0, &.colour-6 {
    @apply text--bg;
    &.answer,
    .corner, .centre {
      @apply text--bg;
    }
  }
  .corner, .centre {
    font-size: 0.3em;
  }
}

.board .cell {
  $error: inset 0 0 8px red;
  $hover: inset map.get($pallet, "hover") 0 0 3px 3px;
  &.error {
    box-shadow: $error;
  }
  .hover {
    box-shadow: $hover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.board .cell .arrow {
  color: gray;
  font-size: 0.5em;
  position: absolute;
  &.arrow-down {
    bottom: -0.2em;
  }
  &.arrow-up {
    top: -0.2em;
  }
  &.arrow-left {
    left: -0.2em;
  }
  &.arrow-right {
    right: -0.2em;
  }
}

.board ._canvas {
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
