@import "var.scss";

.theme-ctc {
  --green: rgb(163, 224, 72);
  --magenta: rgb(210, 59, 231);
  --orange: rgb(235, 117, 50);
  --red: rgb(230, 38, 31);
  --yellow: rgb(247, 208, 56);
  --teal: rgb(52, 187, 230);
  --blue: rgb(64, 128, 255);
}

body {
  --border-box: 0;
  --border-cell: 0;
  --cage-width: 1px;
  &.-display_cells {
    --border-cell: 1px;
    --border-box: 1px;
  }
  &.-display_boxes, &.-display_boxes.-display_cells {
    --border-box: 3px;
  }
  &.-heavy_cage {
    --cage-width: 2px;
  }
}

body {
  --text: black;
  --bg: #f8f5f3;
  --border: #e2e8f0;
  --border-selected: #777;
  --dark-bg: #f8f8f8;
  --selected: rgba(0, 0, 0, 0.1);
  --hover: #666;
  &.-dark_mode {
    --dark-bg: #111;
    --bg: #222;
    --border-selected: #ddd;
    --text: #ddd;
    --border: #444;
    --selected: rgba(255, 255, 255, 0.2);
    --hover: #aaa;
  }
}

.Game {
  --mark-transparent: rgba(255, 255, 255, 0.2);
  --mark-color: var(--border);
  @each $color in $theme_colors {
    .color-#{""+$color} {
      --mark-color: var(--#{$color})
    }
  }
}