@use 'sass:map';
@use 'sass:color';

@import '../var';

.board .cell .mark {
  $wall: 7%;
  background: repeating-linear-gradient(
    -45deg,
    $mark-transparent,
    $mark-transparent 15%,
    $mark-color 15%,
    $mark-color 25%
  );
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  &.wall {
    border-color: var(--text);
    border: 2px solid;
    background: $mark;
  }
  &.v-split {
    height: 2 * $wall;
    margin-top: - $wall;
  }
  &.h-split {
    width: 2 * $wall;
    margin-left: - $wall;
  }
  /* thermo */
  &.rounded {
    $bulb-shrink: 15%;
    background: $mark-color;
    border-radius: 100%;
    height: 100% - 2 * $bulb-shrink;
    margin: $bulb-shrink;
    width: 100% - 2 * $bulb-shrink;
  }
}
